
body{
    
    justify-content: center;
    

}

#calculator{
    font-family: sans-serif;
    background-color: black;
    
}
#display{
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    border: none;
background-color: cadetblue;
color: white;

}

#keys{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
padding: 25px; 

}

button{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: none;
    background-color:black ;
    color: white;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;

}

button:hover{
    background-color:teal;
}

.operator-btn{
    background-color: orange;
}

.operator-btn:hover{
    background-color:hsl(35,100%,75%);
}